<section class="pt-5 mt-5">
    <div class="container">
      <div class="intro row my-5">
        <h2 class="headfont col-md-4">Manage Hospitals</h2>
        <div class="col-md-3 offset-5">
          <button class="btn btn-success poppfont"><i class="fas fa-plus-circle"></i> Add New Hospital</button>
        </div>
      </div>
      <table class="table table-hover poppfont">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Rate</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><i class="mr-2 fas fa-pen text-warning"></i><i class="fas fa-trash-alt text-danger"></i></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><i class="mr-2 fas fa-pen text-warning"></i><i class="fas fa-trash-alt text-danger"></i></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td><i class="mr-2 fas fa-pen text-warning"></i><i class="fas fa-trash-alt text-danger"></i></td>
            </tr>
          </tbody>
      </table>
    </div>
</section>