<nav class="mynavbar py-3 navbar navbar-expand-md bg-primary">
  <div class="container">
    <a class="navbar-brand specfont logo" href="#">REVIVE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-2">
          <a class="nav-link poppfont onelink" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link poppfont onelink" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link poppfont onelink" routerLink="/contact" routerLinkActive="active">Contacts</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link poppfont onelink" routerLink="/covid" routerLinkActive="active">COVID19</a>
        </li>
        <li><a href="#"><i class="icon fab fa-facebook-f fa-lg p-2"></i></a></li>
        <li><a href="#"><i class="icon fab fa-twitter fa-lg p-2"></i></a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
          <div class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdown">
            <a class="dropdown-item poppfont" href="#"><i class="fas fa-user"></i> Profile</a>
            <a class="dropdown-item poppfont" href="#"><i class="fas fa-hospital-user"></i> Appointments</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item poppfont" href="#"><i class="fas fa-door-open"></i> Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>