<section class="about container pt-5 mt-5">
    <div class="aphoto">
        <img class="img-fluid" src="../../assets/images/emergency-room-hospital_680.png">
    </div>
    <div class="adesc">
        <h2 class="headfont">Hospital Name</h2>
        <p class="poppfont subtitle desss">This is The Hospital subtitle</p>
        <p class="poppfont">I am <b>Lorem, ipsum.</b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
        <div class="progressbar">
            <div class="progressperc px-1 webdesign">
                <p class="poppfont">Lorem, ipsum.</p>
                <p class="poppfont p2">95%</p>
                <div class="clr"></div>
            </div>
        </div>
        <div class="progressbar">
            <div class="progressperc px-1 branding">
                <p class="poppfont">Rating</p>
                <p class="poppfont p2">80%</p>
                <div class="clr"></div>
            </div>
        </div>
        <div class="progressbar">
            <div class="progressperc px-1 development">
                <p class="poppfont">Love</p>
                <p class="poppfont p2">90%</p>
                <div class="clr"></div>
            </div>
        </div>
        <button class="btn btn-primary py-2 px-4 poppfont mr-2">Book</button>
        <button class="btn btn-outline-primary py-2 px-4 poppfont">Contact Us</button>
    </div>
</section>