<section class="bg-light pt-5 mt-5 container">
    <div class="row">
        <div class="col-md-3">
            <div class="">
                <img class="img-fluid" src="../../assets/images/35d68a8d743e7dab89cb1e55b44acd18.jpg">
                <div class="line my-4"></div>
                <div class="media">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="offset-1 col-md-7">
            <div class="">
                <div class="info">
                    <h3 class="headfont">Yasmine Morsy</h3>
                    <p class="subtitle poppfont"><i class="fas fa-map-marker-alt text-success"></i> Hadayik Helwan, Cairo</p>
                    <div class="blood-revive">
                        <p>Donation 
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="fas fa-star text-warning"></i>
                            <i class="far fa-star text-warning"></i>
                        </p>
                    </div>
                </div>
                <div class="moreInfo">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="far fa-eye"></i> Timeline</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-user"></i> About</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="fas fa-hand-holding-medical"></i> Donation</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos dolorum magnam ex alias mollitia hic eveniet quas nobis quos quaerat!</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus sint voluptate iusto, at quae neque ab doloremque reiciendis, nostrum consectetur corrupti ducimus, id eveniet libero ex porro tempora cupiditate. Fugit error ipsa id veniam quasi illum quidem doloribus voluptas praesentium.</div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, eum.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
