/* You can add global styles to this file, and also import other style files */
.headfont {
    font-family: 'Source Sans Pro', sans-serif;
}
.poppfont {
    font-family: 'Poppins', sans-serif;
}
.specfont {
    font-family: 'Montserrat Alternates', sans-serif;
}